* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* 自适应 */
main {
    flex: 1;
    position: relative;
}

nav {
    height: 8vh;
    background-color: #34495e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
    flex: 1;
    /* 大写字体 */
    text-transform: uppercase;
    text-align: center;
}

nav a:nth-child(2) {
    border-right: solid 1px silver;
    border-left: 1px solid silver;
}

body::after {
    content: 'houdunren';
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: .3;
}

main>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 2s;
    z-index: 1;
}

main>div:target {
    transform: translateY(0px);
}

main>div:nth-of-type(1):target {
    background: #27ae60;

}

main>div:nth-of-type(2):target {
    background: #e67e22;
}

main>div:nth-of-type(3):target {
    background: #2980b9;
}

i[class^="fa"] {
    font-size: 8em;
    color: white;
}